<div class="margin-center">
  <h1 class="text-center">Manual Routing</h1>
  <ul>
    <li class="command_button">
      <button mat-raised-button color="primary" (click)="updateRoutes()">Re-fetch route</button>
      <button mat-raised-button color="primary" (click)="exportRoute()">Export route</button>
      <button mat-raised-button color="primary" (click)="replaceRoutes()">Import route (replace)</button>
      <button mat-raised-button color="primary" (click)="patchAndAddRoutes()">Import route (patch and add new)</button>
      <button mat-raised-button color="primary" (click)="addNewOnlyRoutes()">Import route (add new only)</button>
    </li>
    <hr>
    <li>
      <button mat-fab color="primary" (click)="goBackRoute()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <app-mat-form-field-input
      [value]="path"
      (valueOutput)="path = $event.toString()"
      [styleWidth]='"90%"'
      label="Path"
      [required]="true"
      ></app-mat-form-field-input>
    </li>
    <li>
      <mat-list>
        <div mat-subheader>Child Path</div>
        <mat-list-item *ngFor="let route of getRecommendPath()">
          <mat-icon matListItemIcon>http</mat-icon>
          <div matListItemTitle style="cursor: pointer;" (click)="moveToRoute(route.fullPath)">{{route.path}}</div>
          <div matListItemLine>{{route.fullPath}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Current Path</div>
        <ul *ngFor="let route of getExactRoutes()">
          <li>
            <app-route-panel
            [route]="route"
            [userRoles]="userRoles"
            (editEvent)="editRoute($event)"
            (deleteEvent)="deleteRoute($event)"
            ></app-route-panel>
          </li>
        </ul>
        <br>
        <button mat-raised-button color="primary" style="width: 100%;" (click)="addNewRoute()">Add Path</button>
      </mat-list>
    </li>
  </ul>
</div>