<h1 mat-dialog-title>{{routeDialogData.absolutePath}}</h1>
<div mat-dialog-content>
  <button mat-raised-button color="primary" *ngIf="isMissingAnyMethod()" (click)="pushAllMissingRoute()">Populate all missing route</button>
  <ng-container *ngIf="isMissingAnyMethod()">
    <hr>
    <h2>Available Method</h2>
    <ng-container *ngFor="let method of routeDialogData.swaggerMethods">
      <button *ngIf="isMissingMethod(method)" mat-raised-button color="primary" (click)="pushNewRoute(method)">{{method}}</button>
    </ng-container>
    <hr>
  </ng-container>
  <h2>Populated Method</h2>
  <ul>
    <li *ngFor="let route of routeDialogData.selectedRoutes; let i = index; trackBy: trackByIndex;">
      <app-route-panel *ngIf="route"
      [route]="route"
      [userRoles]="routeDialogData.userRoles"
      [displayFunctionalButton]="false"
      [displayPath]="false"
      [displayWildCard]="false"
      [disableMethodInput]="true"
      (onValueChange)="routeDialogData.selectedRoutes[i] = $event"
      (deleteEvent)="removeRoute($event)"
      ></app-route-panel>
      <hr>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" [mat-dialog-close]="routeDialogData.selectedRoutes">Close</button>
</div>