<ul class="margin-center">
  <li><h1 class="text-center">Config Map</h1></li>
  <ng-container *ngIf="addConfigMapSwitch" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
    <li><button mat-raised-button color="primary" (click)="backSwitch()">Back to table Config map</button></li>
    <li *ngIf="detailConfigModel.id">
      <app-mat-form-field-input
      label="ID"
      [value]="detailConfigModel.id"
      (valueOutput)="detailConfigModel.id = $event"
      [disable]="true"
      styleWidth="100%"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Name"
      placeholder="give this map a name"
      [value]="detailConfigModel.name"
      (valueOutput)="detailConfigModel.name = $event"
      maxlength="100"
      [required]="true"
      styleWidth="100%"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-text-area
      label="Xml config file"
      placeholder="Jenkins XML file"
      [value]="detailConfigModel.file"
      (valueOutput)="detailConfigModel.file = $event"
      [required]="true"
      styleWidth="100%"
      ></app-mat-form-field-text-area>
    </li>
    <li *ngIf="!detailConfigModel.id">
      <button mat-raised-button color="primary" style="width: 100%;" (click)="addConfigMap()" [disabled]="!validForm">Add config map</button>
    </li>
    <li *ngIf="detailConfigModel.id">
      <button mat-raised-button color="primary" style="width: 100%;" (click)="modifyConfigMap()" [disabled]="!validForm">Modify config map</button>
    </li>
  </ng-container>
  <ng-container *ngIf="!addConfigMapSwitch">
    <li><button mat-raised-button color="primary" (click)="addSwitch()">Add Config map</button></li>
    <li>
      <app-mat-table
      [matRows]="matConfigModels"
      [displayFilter]="true"
      [displayPagination]="true"
      (onEditRow)="modifySwitch($event)"
      ></app-mat-table>
    </li>
  </ng-container>
</ul>