<ul>
  <li><h1>Dashboard</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button></li>
  <li><button *ngIf="!authenticatorService.isLoginB" mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button></li>
  <li><button *ngIf="authenticatorService.isLoginB" mat-flat-button (click)="authenticatorService.logout()" >Logout</button></li>
  <li><button mat-flat-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button></li>
  <li><button mat-flat-button [routerLink]="['/setting']" routerLinkActive="router-link-active" >Setting</button></li>
  <br>
  <li><h1>Tool</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/tool/request_sender']" routerLinkActive="router-link-active" >Request Sender</button></li>
  <br>
  <li><h1>Authentication</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/authentication/route']" routerLinkActive="router-link-active"  >Route</button></li>
  <li><button mat-flat-button [routerLink]="['/authentication/users']" routerLinkActive="router-link-active" >Users</button></li>
  <li><button mat-flat-button [routerLink]="['/authentication/user_role']" routerLinkActive="router-link-active" >User role</button></li>
  <br>
  <li><h1>VGame</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/vgame/question']" routerLinkActive="router-link-active" >Question</button></li>
</ul>