<ul>
  <li><h1>Dashboard</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button></li>
  <li><button mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button></li>
  <li><button mat-flat-button >Logout</button></li>
  <li><button mat-flat-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button></li>
  <br>
  <li><h1>Tool</h1></li>
  <hr>
  <li><button mat-flat-button [routerLink]="['/request_sender']" routerLinkActive="router-link-active" >Request Sender</button></li>
  <br>
  <li><h1>Authentication</h1></li>
  <hr>
  <li><button mat-flat-button >Route</button></li>
  <li><button mat-flat-button >User</button></li>
  <li><button mat-flat-button >Route</button></li>
</ul>